.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.button {
  padding: 8px 12px;
}